*{
  padding:0;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://media.istockphoto.com/id/494635982/photo/milky-way-and-stars-at-atacama-desert.jpg?s=612x612&w=0&k=20&c=s1eH0lHSbhhjPrszyAHhIUVKMuqodsAtXdXPg5pR9-E=");
  border-radius:5px;
  color:white;
  margin-bottom:0;
  padding-bottom:0;
  position:fixed;
  z-index:1000;
  width:100vw;
  height:15vh;
  
}
#logo-image{
 width:15vw;
 padding-right:3vw;
}
#logo{
  display: flex;
  align-items: center;
  padding-right: 3vw;
  
} 
#navbar{
    display: flex;
    align-items: center;
    /* background-image:url("https://media.istockphoto.com/id/1287456867/photo/clear-night-sky-with-milky-way-and-huge-amount-of-stars.jpg?s=612x612&w=0&k=20&c=mX4PtN6zMBVjzukQfWoBuNSnZS48NXxUmGlfxI5tkoE="); */
    /* background-size: cover; */
    background-image:url("https://cdn.pixabay.com/animation/2024/07/23/19/52/19-52-56-478_512.gif");
    color: white;
    position:fixed;
    z-index: 1000;
    width:98vw;
    height:15vh;


}
#navbar-links{
    display: flex;
    gap: 50px;
    position:absolute;
    right:10px;
    margin-right:30px;
}   
#navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#navbar-links a {
    text-decoration: none; /* Remove default underline */
    position: relative;
    display: inline-block; /* Needed for transform to work on inline elements */
    transition: transform 0.6s ease; /* Smooth transition for scaling */
  }
  
 #navbar-links a::after {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Initial thickness of the underline */
    background-color:aqua; /* Color of the underline */
    transition: width 0.6s ease, height 0.6s ease; /* Slow transition for both width and height */
  }
  
 a:hover {
    transform: scale(1.10); /* Increase the size of the anchor by 1.05 times */
  }
  
 #navbar-links a:hover::after {
    width: 100%; /* Underline width grows on hover */
    height: 2px * 1.05; /* Increase the height by 1.05 times on hover */
  }
  
  

#home{
  padding-top:0;
  margin-top:0;
  
  /* background-image:url("https://media.istockphoto.com/id/177512311/photo/space-background-stars-universe-galaxy-and-nebula.jpg?s=612x612&w=0&k=20&c=Fo9pcwfjUjr2WcBuNPwvjs2zRnXk0xVSQLkhW4JmXlY=");
  background-size: cover; */
  /* color:white; */
}

#login{
  display:flex;
  flex-direction:column;
  background-color:rgba(0, 0, 0, 0.5);
  width:40vw;
  height:40vh;
  border-radius:10px;
  color:white;
  position:relative;
  justify-content: space-around;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm0A9slYIhzCxcqb6l2txNkVqeIol_8eJj-Q&s");
  background-size: cover;
  top:30vh;
  left:30vw;
  align-items:center;
  input{
    width:70%;
   margin-bottom:2vh;
   height:30px;
  }
  h2{
    margin-bottom:2vh;
    color:white;
  }
  a{
    color:white;
    cursor: pointer;
  }
  button{
    cursor: pointer;
  }
}
.login-container{
 height:100vh;
 background-image:url("https://media.istockphoto.com/id/494635982/photo/milky-way-and-stars-at-atacama-desert.jpg?s=612x612&w=0&k=20&c=s1eH0lHSbhhjPrszyAHhIUVKMuqodsAtXdXPg5pR9-E=");
  background-size: cover;
 
}
.schedule-container{
 /* background-color:rgba(0, 0, 0, 0.5); */
 /* background-image:url("https://www.shutterstock.com/shutterstock/videos/1069521979/thumb/1.jpg?ip=x480"); */
   background-image:url("https://img.freepik.com/free-photo/beautiful-shining-stars-night-sky_181624-622.jpg?semt=ais_hybrid&w=740");
 
 height:155vh;

}

#day0{
  background-image:url("https://thumbs.dreamstime.com/b/spaceman-flying-board-mixed-media-astronaut-futuristic-rocket-skateboard-elements-image-furnished-nasa-101099378.jpg");
  background-size: cover;
  color:white;
  position:relative;
  display:inline-block;
  top:17vh;
  left:4vw;
  min-width:40vw;
  min-height:40vh;
  border-radius:10px;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);

}
#day1{
  background-image:url("https://cdn.pixabay.com/photo/2023/06/13/15/05/astronaut-8061095_640.png");
  background-size: cover;
  color:white;
  position:relative;
  display:inline-block;
  top:60vh;
  left:15vw;
  min-width:40vw;
  min-height:40vh;
  border-radius:10px;
  box-shadow: -10px 10px 10px rgba(255, 255, 255, 0.5);
}
#day2{
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/9/91/Bruce_McCandless_II_during_EVA_in_1984.jpg");
  background-size: cover;
  color:white;
  position:relative;
  display:inline-block;
  top:65vh;
  left:4vw;
  min-width:40vw;
  min-height:40vh;
  border-radius:10px;
  padding-bottom:5vh;
  z-index:100;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
}

@media(max-width:579px){
  #day1{
    top:20vh;
    left:20vw;
  }
  #day2{
    top:23vh;
  }
}
@media(min-width:576px)and (max-width:680px){
  #day1{
    left:8vw;
  }
}
#hamburger-icon{
  position:relative;
  right:7vw;
  display:none;
  font-size:1.5rem;
}

#hamburger{
  display:flex;
  position:fixed;
  display:none;
  top:10vh;
  right:2vw;
  z-index:3000;
  flex-direction:column;
  color:aqua;
  border-radius:5px;
    border-style:solid;
    border-color:white;
    border-width:2px;
}
 @media(max-width:700px){
  /* #hamburger{
    display:block;
  } */
  #hamburger-icon{
    display:block;
  }
  .nav-links{
    display:none;
  }

  .bar:hover{
    border-radius:5px;
    border-style:solid;
    border-color:white;
    border-width:2px;
  }
} 

#signupcont{
  height:100vh;
  background-image:url("https://media.istockphoto.com/id/494635982/photo/milky-way-and-stars-at-atacama-desert.jpg?s=612x612&w=0&k=20&c=s1eH0lHSbhhjPrszyAHhIUVKMuqodsAtXdXPg5pR9-E=");
   background-size: cover;
}
#signup{
  display:flex;
  flex-direction:column;
  background-color:rgba(0, 0, 0, 0.5);
  width:40vw;
  height:40vh;
  border-radius:10px;
  color:white;
  position:relative;
  justify-content: space-around;
  background-image:url("https://static.vecteezy.com/system/resources/thumbnails/028/771/235/small/detailed-and-realistic-representation-of-an-alien-life-form-set-within-the-confines-of-an-alien-landscape-ai-generative-photo.jpg");
  background-size: cover;
  top:30vh;
  left:30vw;
  align-items:center;
  input{
    width:70%;
   margin-bottom:2vh;
   height:30px;
  }
  h2{
    margin-bottom:2vh;
    color:white;
  }
  a{
    color:white;
    cursor: pointer;
  }
  button{
    cursor: pointer;
  }
}
.teams-container{
  h2{
    color:white;
    text-align: center;
  }
  position:relative;
  top:15vh;
  a{
    text-decoration: none;
    margin-bottom:3vh;
    border-width:2px;
  }
  h2{
    text-align: center;
  }
  background-image:url("https://img.freepik.com/free-photo/beautiful-shining-stars-night-sky_181624-622.jpg?semt=ais_hybrid&w=740");
}
.teams-container a:hover{
  border:#00FFFF solid 2px;
  border-radius:5px;
}
.heads{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding-top:5vh;
}
.team-card{
  display:flex;
  flex-direction: column;
  align-items: center ;
  border-style:solid;
  border-color:white;
  border-width:2px;
  color:white;
  border-radius:10px;
  background-color:rgba(0, 0, 0, 0.5);
  h3{
    text-align: center;
    padding-bottom:5px;
  }
  min-width:17vw;
  }



.icons{
  width:100%;
  display:flex;
  justify-content:center;
  a{
    border-width:2px;
    color:white;
    margin-right:10px;
  }
}

.img{
  width:17vw;
  height:40vh;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:3vh;
  img{
    width:100%;
    height:100%;
  }
}
.tech-team{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding-top:5vh;
}
.design-team{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding-top:5vh;
}
.Management-team{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding-top:5vh;
}

.profile-container{
  height:85vh;
  background-color:rgba(0, 0, 0, 0.5);
  position:relative;
  top:15vh;
  display:flex;
  justify-content: center;
  align-items:top;
  background-image:url("https://img.freepik.com/free-photo/beautiful-shining-stars-night-sky_181624-622.jpg?semt=ais_hybrid&w=740");
}
.profile-card{
  border: 2px solid white;
  border-radius: 10px;
  color:rgba(59, 237, 204, 0.682);
  margin-top:7vh;
  display:flex;
  flex-direction:column;
  align-items: center ;
  height:80%;
  h2{
    margin-bottom:3vh;
  }
  div{
    font-size:1.2rem;
    width:70vw;
    height:7vh;
    margin:2vh;
    color:white;
    
    /* border:rgba(255,255,255,0.5) solid 2px; */
    border-radius:5px;
  
    b{
      font-size:1.4rem;
      color:rgba(59, 237, 204, 0.682);
    }
  }
}


#logout-but{
  color:white;
  text-decoration: none;
  border:2px solid white;
  border-radius:5px;
  background-color: black;
  padding: 0 5px;
  cursor:pointer;
}